body
{
    background-color: black;
}
.mainContainer
{
    width: 95%;
    margin-left: 2em;
}
/* .imgRightBar
{
    background-image: url(https://img.freepik.com/free-photo/nice-christmas-background-white-background-with-copy-space_24972-1722.jpg);
    background-size: cover;
} */